<div class="search">
    <form #form="ngForm" (submit)="onSubmit()">
        <input type="text" 
        placeholder="Pesquise uma Cidade"
        name="city" 
        [(ngModel)]="initialCity"
        required=""/>
        <span>
            <fa-icon 
            animation="fade"
            style="--fa-animation-duration: 0.5s; cursor: pointer;"
            size="lg"
            class ="search-icon"
            [icon]="searchIcon"
            (click)="onSubmit()"
            
            ></fa-icon>
        </span>
    </form>
    <p>{{pegar}}</p>
</div>


